<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Admin Page</title>
</head>

<body>
<th:block th:include="_menu"></th:block>
<div class="container" style="text-align:center">
    <div class="panel-group" style="margin-top:40px">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <span th:utext="${userName}"></span>
            </div>
            <p class="admin-message-text text-center" th:utext="${adminMessage}"></p>
        </div>
    </div>
    <table style="margin: 0 auto">
        <thead>
        <tr>
            <th>Name</th>
            <th>Last Name</th>
            <th>User Name</th>
            <th>Email</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${allUsers.empty}">
            <td colspan="5">There is not a single user using this site :(</td>
        </tr>
        <tr th:each="user : ${allUsers}">
            <td><span th:text="${user.name}">Name</span></td>
            <td><span th:text="${user.lastName}">Last Name</span></td>
            <td><span th:text="${user.userName}">User Name</span></td>
            <td><span th:text="${user.email}">Email</span></td>
            <td th:if="${!user.isBanned()}"><button class="btn btn-danger">BAN</button></td>
            <td th:if="${user.isBanned()}"><button class="btn btn-warning">UNBAN</button></td>
        </tr>
        </tbody>
    </table>

</div>
</body>
</html>