<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
<footer class="text-muted">
    <div class="container">
        <p class="float-right">
            <a href="#">Back to top</a>
        </p>
        <p><a href="https://icons8.com/icon/50855/new-post">New Post icon by Icons8</a></p>
        <p><a href="https://icons8.com/icon/xuvGCOXi8Wyg/linkedin">LinkedIn icon by Icons8</a></p>
        <p><a href="https://icons8.com/icon/106567/github">GitHub icon by Icons8</a></p>
    </div>
</footer>
</html>