<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title th:text="${user.userName}"></title>
</head>
<body>
<th:block th:include="_menu"></th:block>
<br/>
<div class="profile" style="text-align:center">
    <h1 th:text="Profile + ' ' + ${user.userName} + ' - ' + ${user.name} + ' ' + ${user.lastName}"></h1>
</div>
<div class="column" style="margin: 0 auto">
    <div th:each="p : ${posts}" class="col-md-4" style="margin: 0 auto">
        <div class="card mb-4 shadow-sm" style="background:#ecf2f9;">
            <div align="center"><h2 th:text="${p.tittle}"></h2></div>
            <img class="post-view" data-enlargable th:attr="src=@{|data:image/jpeg;base64,${p.convertedImg}|}"
                 th:tittle=${p.tittle}
                 th:alt=${p.description}>
            <div class="card-body">
                <p class="card-text text-justify" th:text="${p.description}"></p>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <form th:if="${postLikesService.isUserLiking(userId,p.id)}" action="#" th:action="@{|/unlikePost?postId=${p.id}&userId=${userId}|}" method="post"><button type="submit" class="btn btn-sm btn-primary" th:text="'Liked! ' + ${p.postLikes}">Like</button></form>
                        <form th:unless="${postLikesService.isUserLiking(userId,p.id)}" action="#" th:action="@{|/likePost?id=${p.id}|}" method="post"><button type="submit" class="btn btn-sm btn-outline-secondary" th:text="'Like! ' + ${p.postLikes}">Like</button></form>
                    </div>
                    <small class="text-muted" th:text="${p.calendar.getTime()}"></small>
                    <small class="text-muted" th:text="by + ' ' + ${p.getUserDTO().toString()}"></small>

                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
$('img[data-enlargable]').addClass('img-enlargable').click(function(){
    var src = $(this).attr('src');
    var modal;
    function removeModal(){ modal.remove(); $('body').off('keyup.modal-close'); }
    modal = $('<div>').css({
        background: 'RGBA(0,0,0,.5) url('+src+') no-repeat center',
        backgroundSize: 'contain',
        width:'100%', height:'100%',
        position:'fixed',
        zIndex:'10000',
        top:'0', left:'0',
        cursor: 'zoom-out'
    }).click(function(){
        removeModal();
    }).appendTo('body');
    //handling ESC
    $('body').on('keyup.modal-close', function(e){
      if(e.key==='Escape'){ removeModal(); }
    });
});
</script>
</body>
</html>