<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>It's My Art</title>
</head>
<body>
    <th:block th:include="/_menu"></th:block>

<div class="container"></div>
    <div sec:authorize="isAuthenticated()">
        Hey! Remember to log out!
    </div>

    <div sec:authorize="hasAuthority('ADMIN')">
        Logged as admin
    </div>
    <div sec:authorize="hasAuthority('USER')">
        Logged as user
    </div>

<!--    <tr th:each="i : ${img}">-->
<!--        <td><img th:attr="src=@{|data:image/jpeg;base64,${i}|}"></td>-->
<!--    </tr>-->

<!--    <tr th:each="post : ${posts}">-->
<!--        <td><img th:attr="src=@{|data:image/jpeg;base64,${post.convertedImg}|}"-->
<!--                 th:tittle=${post.tittle}-->
<!--                 th:alt=${post.description}-->
<!--                 width="auto" height="300"></td>-->
<!--    </tr>-->
    <br/>
    <div class="row">
        <div th:each="post : ${posts}" class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <div align="center"><h2 th:text="${post.tittle}"></h2></div>
                <img th:attr="src=@{|data:image/jpeg;base64,${post.convertedImg}|}"
                     th:tittle=${post.tittle}
                     th:alt=${post.description}
                     style="margin: 0 auto; max-height: 300px; height: 100%; width: 100%; object-fit: contain">
                <div class="card-body">
                    <p class="card-text" th:text="${post.description}"></p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                            <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                        </div>
                        <small class="text-muted" th:text="${post.calendar.getTime()}"></small>
                        <small class="text-muted" th:text="${post.getUserDTO().toString()}"></small>

                    </div>
                </div>
            </div>
        </div>
    </div>


</body>
<th:block th:include="/_foot"></th:block>
</html>