<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>It's My Art</title>


</head>
<body>
<th:block th:include="_menu"></th:block>
<div class="container"></div>
    <div class="row">
        <div th:each="post : ${posts}" class="col-md-4" >
            <div class="card mb-4 shadow-sm " style="background:#ecf2f9; height: 99%">
                <div align="center"><h2 th:text="${post.tittle}"></h2></div>
                <img class="post-view" data-enlargable th:attr="src=@{|data:image/jpeg;base64,${post.convertedImg}|}"
                     th:tittle=${post.tittle}
                     th:alt=${post.description}
                    style="cursor: zoom-in;">
                <div class="card-body">
                    <p class="card-text text-justify" th:text="${post.description}"></p>
                </div>
                <div style="padding: 1.25rem">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <form th:if="${postLikesService.isUserLiking(userId,post.id)}" action="#" th:action="@{|/unlikePost?postId=${post.id}&userId=${userId}|}" method="post"><button type="submit" class="btn btn-sm btn-primary" th:text="'Liked! ' + ${post.postLikes}">Like</button></form>
                            <form th:unless="${postLikesService.isUserLiking(userId,post.id)}" action="#" th:action="@{|/likePost?id=${post.id}|}" method="post"><button type="submit" class="btn btn-sm btn-outline-secondary" th:text="'Like! ' + ${post.postLikes}">Like</button></form>

                        </div>
                        <small class="text-muted" th:text="${post.calendar.getTime()}"></small>
                        <a th:href="@{|/guestView?username=${post.getUserDTO().userName}|}"><small class="text-muted" th:text="by + ' ' + ${post.getUserDTO().toString()}"></small></a>

                    </div>
                </div>
            </div>
        </div>
    </div>

<script type="text/javascript">
$('img[data-enlargable]').addClass('img-enlargable').click(function(){
    var src = $(this).attr('src');
    var modal;
    function removeModal(){ modal.remove(); $('body').off('keyup.modal-close'); }
    modal = $('<div>').css({
        background: 'RGBA(0,0,0,.5) url('+src+') no-repeat center',
        backgroundSize: 'contain',
        width:'100%', height:'100%',
        position:'fixed',
        zIndex:'10000',
        top:'0', left:'0',
        cursor: 'zoom-out'
    }).click(function(){
        removeModal();
    }).appendTo('body');
    //handling ESC
    $('body').on('keyup.modal-close', function(e){
      if(e.key==='Escape'){ removeModal(); }
    });
});
</script>

</body>
<th:block th:include="_foot"></th:block>
</html>