<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>It's My Art</title>
</head>
<body>
    <th:block th:include="/_menu"></th:block>

<div class="container"></div>
    <div sec:authorize="isAuthenticated()">
        Hey! Remember to log out!
    </div>

    <div sec:authorize="hasAuthority('ADMIN')">
        Logged as admin
    </div>
    <div sec:authorize="hasAuthority('USER')">
        Logged as user
    </div>

    <tr th:each="i : ${img}">
        <td><img th:attr="src=@{|data:image/jpeg;base64,${i}|}"></td>
    </tr>

</body>
<th:block th:include="/_foot"></th:block>
</html>